
body {
  background-image: url(../images/background.jpg);
  background-size: 1440px 800px;
  background-repeat:repeat;
  display: compact;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: courier;
  width: 960px;
  margin: auto;
}

.jumbotron {
  background-color: #FA9A0A;
}

div#avatar {
  width: 30%;
  height: 200px;
  float: left;
  margin-left: 20px;
  margin-top: 30px;
}

div#myname {
  width: 100%;
  margin-left: 5%;
  height: 200px;
  padding: 10px;
  margin-top: 10px;
}

div#myname h1 {
  font-size: 4em;
  margin-top: 40px;
  font-weight: bold;
}

div#myname h2 {
  font-size: 2.25em;
}

#myHeader {
    background-color: #FA9A0A;

}

article#mytech {
  background: rgba(255,255,255,.9);
}

footer {
  background: rgba(0,0,0,.9);
}

#intro {
  background: rgba(255,255,255,.9);

  padding: 2%;
  font-family: verdana;
}

#pitch {
  text-align: justify;
  font-size: 1.25em;

}
